.home {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;
}

.message {
  font-style: italic;
  color: gray;
}

.posts-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 30px;
}
